@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<AMS202024111207.Models.Employee>
@{
	ViewData["Title"] = "员工管理";
}

<!--margin-top:3-->
<div class="container mt-5 mb-5">
	<h3>员工管理</h3>
	<span class="badge rounded-pill text-bg-primary">员工编号</span>
	<span class="badge rounded-pill text-bg-secondary">用户名</span>
	<span class="badge rounded-pill text-bg-success">姓名</span>
	<span class="badge rounded-pill text-bg-danger">联络电话</span>
	<span class="badge rounded-pill text-bg-warning">QQ邮箱</span>
	<span class="badge rounded-pill text-bg-info">角色权限</span>
	<span class="badge rounded-pill text-bg-light">关于我</span>
	<span class="badge rounded-pill text-bg-dark">部门编号</span>
	<hr />
	@{
		if (TempData["Result"] != null)
		{
			<span style="color:red; font-size: 16px; ">操作结果==> @TempData["Result"]</span>
		}
	}
	<div class="row">
		@*<form method="post" action="EmployeeAdmin">
			🔍搜索（员工编号、姓名、联络电话等等）：<input type="text" name="keyword" value="@ViewBag.keyword" placeholder="请输入关键词" required>
			<input type="submit" value="查询员工" class="btn btn-danger btn-xl" />
			<a href="/Employee/EmployeeAdmin" role="button" class="btn  btn-warning btn-xl">全部</a>
			<a href="/Employee/EmployeeAdd" role="button" class="btn btn-primary btn-xl">添加员工</a>
		</form>*@
		<form method="post" action="EmployeeAdmin">
			<div class="form-group row">
				<label for="keyword" class="col-sm-2 col-form-label">🔍搜索</label>
				<div class="col-sm-4">
					<input type="text" name="keyword" id="keyword" class="form-control" value="@ViewBag.keyword" placeholder="请输入关键词" required>
				</div>
			</div>
			<br />
			<div class="form-group row">
				<label for="field" class="col-sm-2 col-form-label">查询字段</label>
				<div class="col-sm-4">
					<select name="field" id="field" class="form-select">
						@foreach (var option in ViewData["options"] as SelectList)
						{
							<option value="@option.Value" @(option.Value == ViewBag.field ? "selected" : "")>@option.Text</option>
						}
					</select>
				</div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-danger">查询员工</button>
					<a href="/Employee/EmployeeAdmin" role="button" class="btn btn-warning">全部</a>
					<a href="/Employee/EmployeeAdd" role="button" class="btn btn-primary">添加员工</a>
				</div>
			</div>
		</form>
	</div>
	@if (ViewBag.result)
	{
		if (ViewBag.keyword != null)
		{
			<h3 style="font-weight: bold; /* 设置字体加粗 */margin-top: 20px; /* 上方留出一定的间距 */
					margin-bottom: 30px; /* 下方留出一定的间距 */
					color: #333; /* 设置文字颜色 */
					text-shadow: 1px 1px 2px #ccc; /* 添加文本阴影效果 */">
				查询结果：
			</h3>
		}
		if (Model != null)
		{
			<table class="table table-hover" style="table-layout:fixed;">
				<thead class="table-light">
					<tr>
						<th>员工编号</th>
						<th>用户名</th>
						<th>密码</th>
						<th>姓名</th>
						<th>联络电话</th>
						<th>注册日期</th>
						<th>角色权限</th>
						<th>所属部门</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@item.EmployeeId
							</td>
							<td>
								@item.UserName
							</td>
							<td>
								@item.Password
							</td>
							<td>
								@item.Name
							</td>
							<td>
								@item.Phone
							</td>
							<td>
								@(((DateTime)item.JoinDate).ToString("yyyy-MM-dd"))
							</td>
							<td>
								@item.Role
							</td>
							<td>
								@item.Department.DepartmentName
							</td>
							<td>
								<a href="/Employee/EmployeeEdit?id=@item.EmployeeId" class="btn btn-sm btn-outline-primary">修改</a>
								<a href="/Employee/EmployeeDetails?id=@item.EmployeeId" class="btn btn-sm btn-outline-success">详情</a>
								<a href="/Employee/EmployeeDelete?id=@item.EmployeeId" class="btn btn-sm btn-outline-danger"
									onclick="return confirm('确定要删出员工 @item.UserName.Trim() - @item.Role.Trim()角色吗？');">删除</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="d-flex justify-content-center align-items-center my-4">
				<nav aria-label="Page navigation example">
					<ul class="pagination  justify-content-center">
						@if (ViewBag.page == 1 || ViewBag.page == null)
						{
							<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
						}
						else
						{
							<li class="page-item"><a class="page-link" href="?keyword=@ViewBag.keyword&amp;field=@ViewBag.field&amp;page=@(ViewBag.page - 1)">上一页</a></li>
						}

						@for (var i = 1; i <= ViewBag.totalPages; i++)
						{
							if (i == ViewBag.page || (ViewBag.page == null && i == 1))
							{
								<li class="page-item active"><a class="page-link" href="#">@i</a></li>
							}
							else
							{
								<li class="page-item"><a class="page-link" href="?keyword=@ViewBag.keyword&amp;field=@ViewBag.field&amp;page=@i">@i</a></li>
							}
						}

						@if (ViewBag.page == ViewBag.totalPages || ViewBag.page == null)
						{
							<li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
						}
						else
						{
							<li class="page-item"><a class="page-link" href="?keyword=@ViewBag.keyword&amp;field=@ViewBag.field&amp;page=@(ViewBag.page + 1)">下一页</a></li>
						}
					</ul>
				</nav>
			</div>
			<div class="text-end">
				<span>共 @ViewBag.totalPages 页，@ViewBag.totalItemCount 条记录</span>
			</div>
		}
	}
	else
	{
		<h3 style="font-weight: bold; /* 设置字体加粗 */margin-top: 20px; /* 上方留出一定的间距 */
					margin-bottom: 30px; /* 下方留出一定的间距 */
					color: #333; /* 设置文字颜色 */
					text-shadow: 1px 1px 2px #ccc; /* 添加文本阴影效果 */">
			查询结果：
		</h3>
		<span id="printing"></span>
		<img src="https://cdnjson.com/images/2023/05/27/645907596997d.gif" alt="" style=" display: block; margin: 0 auto; " />
	}
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
	var typed = new Typed("#printing", {
			//在了后面停顿三秒
		strings: ["嘀嘀嘀，主机通讯中......^1000", "没有找到相关的内容，可试试搜索其他关键词🔍......"],
			typeSpeed: 200,//打字的速度
		});
</script>