@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model AMS202024111207.Models.Employee
@using AMS202024111207.Models
@using System.Security.Claims
@inject AmsDbContext _context

@{
	ViewData["Title"] = "修改员工信息";
	var departments = _context.Departments.ToList();
}

<div class="container mt-5 mb-5">
	<h3>修改员工信息</h3>
	@{
		if (TempData["Result"] != null)
		{
			<span style="color:red; font-size: 16px; ">操作结果==> @TempData["Result"]</span>
		}
	}
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form method="post" asp-action="EmployeeEdit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<input type="hidden" asp-for="EmployeeId" />

				<div class="form-group">
					<!--用户名-->
					<label asp-for="UserName" class="control-label"></label>
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--密码-->
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--姓名-->
					<label asp-for="Name" class="control-label"></label>
					<div class="input-group">
						<div class="input-group-text">@@</div>
						<input asp-for="Name" class="form-control" placeholder="昵称">
					</div>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--联络电话-->
					<label asp-for="Phone" class="control-label"></label>
					<input asp-for="Phone" class="form-control" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--QQ邮箱-->
					<label asp-for="Qqemail" class="control-label"></label>
					<input asp-for="Qqemail" class="form-control" type="email" />
					<span asp-validation-for="Qqemail" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--注册日期-->
					<label asp-for="JoinDate" class="control-label"></label>
					<input asp-for="JoinDate" class="form-control" />
					<span asp-validation-for="JoinDate" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--角色权限-->
					<label asp-for="Role" class="control-label"></label><br />
					<div class="form-check form-check-inline">
						<input asp-for="Role" class="form-check-input" type="radio" id="admin"
							   value="Admin" checked='@(Model.Role != null && Model.Role.Trim() == "Admin")'>
						<label class="form-check-label" for="admin">管理员</label>
					</div>
					<div class="form-check form-check-inline">
						<input asp-for="Role" class="form-check-input" type="radio" id="member"
							   value="Member" checked='@(Model.Role != null && Model.Role.Trim() == "Member")'>
						<label class="form-check-label" for="member">普通员工</label>
					</div>
					<span asp-validation-for="Role" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--关于我-->
					<label asp-for="About" class="control-label"></label>
					<textarea asp-for="About" class="form-control" rows="5"></textarea>
					<span asp-validation-for="About" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--所属部门-->
					所属部门
					<select asp-for="DepartmentId" class="form-select">
						@foreach (var item in departments)
						{
							<option value="@item.DepartmentId">@item.DepartmentName</option>
						}
					</select>
				</div><br />

				<!--提交修改-->
				<div class="form-group">
					<input type="submit" value="修改" class="btn btn-primary" />
					<a href="javascript:history.back(-1)" class="btn btn-danger">取消</a>
					<input type="reset" class="btn btn-warning" value="重置"/>
				</div>
			</form>
		</div>
	</div>
</div>
