@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using AMS202024111207.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model AMS202024111207.Models.Asset
@inject AmsDbContext _context

@{
	ViewData["Title"] = "修改资产信息";
	var employees = _context.Employees.ToList();
	var categories = _context.Categories.ToList();
}
<link rel="stylesheet" type="text/css" href="~/lib/fancybox/jquery.fancybox.min.css">
<div class="container mt-5 mb-5">
	<h3>修改资产信息</h3>
	@{
		if (TempData["Result"] != null)
		{
			<span style="color:red; font-size: 16px; ">操作结果==> @TempData["Result"]</span>
		}
	}
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form method="post" asp-action="AssetEdit" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<input type="hidden" asp-for="AssetId" />

				<div class="form-group">
					<label asp-for="AssetName" class="control-label"></label>
					<input asp-for="AssetName" class="form-control" />
					<span asp-validation-for="AssetName" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<label asp-for="Specification" class="control-label"></label>
					<input asp-for="Specification" class="form-control" />
					<span asp-validation-for="Specification" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" class="form-control" type="number"/>
					<span asp-validation-for="Price" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<label asp-for="PurchaseDate" class="control-label"></label>
					<input asp-for="PurchaseDate" class="form-control" />
					<span asp-validation-for="PurchaseDate" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<label asp-for="Location" class="control-label"></label>
					<input asp-for="Location" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div><br />

				<div class="form-group">
					<!--类别-->
					相片分类
					<select asp-for="CategoryId" class="form-select">
						@foreach (var item in categories)
						{
							<option value="@item.CategoryId">@item.CategoryName</option>
						}
					</select>
				</div><br />
				
				<div class="form-group">
					<!--资产保管人-->
					资产保管人
					<select asp-for="CustodianId" class="form-select">
						@foreach (var item in employees)
						{
							<option value="@item.EmployeeId">@item.UserName</option>
						}
					</select>
				</div><br />

				<label class="control-label">资产图片</label>
				<a href="~/images/@Model.ImgName" data-fancybox data-caption="~ /images/@Model.ImgName">
					<img src="~/images/@Model.ImgName" alt="" style="width:415px;" />
				</a><br />

				@*<div class="form-group">
					<label asp-for="ImgName" class="control-label"></label>
					<input asp-for="ImgName" class="form-control" />
					<span asp-validation-for="ImgName" class="text-danger"></span>
				</div><br />*@
				<input type="hidden" asp-for="ImgName" />

				<div class="form-group">
					<label for="formFile" class="form-label">修改图片</label>
					<input type="file" name="imgFile" accept=".png,.jpg,.gif" id="uploadFile" onchange="checkFileType()" class="form-control"/>
				</div><br />
				
				<div class="form-group right-panel">
					<input type="submit" value="修改" class="btn btn-primary" />
					<a href="javascript:history.back(-1)" class="btn btn-danger">取消</a>
					<input type="reset" class="btn btn-warning" value="重置" />
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function checkFileType() {
		const allowedTypes = ["image/png", "image/jpeg", "image/gif"];
		const fileInput = document.getElementById("uploadFile");
		const chosenFile = fileInput.files[0];
		if (chosenFile && !allowedTypes.includes(chosenFile.type)) {
			alert("请上传.png, .jpg, .gif 格式的文件！");
			fileInput.value = "";
		}
	}
</script>

