@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Security.Claims
@model IEnumerable<AMS202024111207.Models.Asset>
@{
	ViewData["Title"] = "固定资产管理系统";
	var roles = User.FindFirst(ClaimTypes.Role)?.Value;
}

<link href="~/css/index.css" rel="stylesheet">

<!--一些图标-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="bootstrap" viewBox="0 0 118 94">
		<title>Bootstrap</title>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
	</symbol>
	<symbol id="home" viewBox="0 0 16 16">
		<path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
	</symbol>
	<symbol id="speedometer2" viewBox="0 0 16 16">
		<path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
		<path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
	</symbol>
	<symbol id="table" viewBox="0 0 16 16">
		<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
	</symbol>
	<symbol id="people-circle" viewBox="0 0 16 16">
		<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
		<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
	</symbol>
	<symbol id="grid" viewBox="0 0 16 16">
		<path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
	</symbol>
	<symbol id="collection" viewBox="0 0 16 16">
		<path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
	</symbol>
	<symbol id="calendar3" viewBox="0 0 16 16">
		<path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
		<path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
	</symbol>
	<symbol id="chat-quote-fill" viewBox="0 0 16 16">
		<path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z" />
	</symbol>
	<symbol id="cpu-fill" viewBox="0 0 16 16">
		<path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
		<path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
	</symbol>
	<symbol id="gear-fill" viewBox="0 0 16 16">
		<path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
	</symbol>
	<symbol id="speedometer" viewBox="0 0 16 16">
		<path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
		<path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
	</symbol>
	<symbol id="toggles2" viewBox="0 0 16 16">
		<path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z" />
		<path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z" />
		<path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
	</symbol>
	<symbol id="tools" viewBox="0 0 16 16">
		<path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
	</symbol>
	<symbol id="chevron-right" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
	</symbol>
	<symbol id="geo-fill" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
	</symbol>
</svg>

<!--首页轮播图-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="~/icon/pexels-photo-4195409.jpeg" class="d-block w-100" alt="...">
			<div class="container">
				<div class="carousel-caption text-start">
					<h1>登记和分类管理</h1>
					<p>
						对公司的各项固定资产相关信息进行登记和录入✍️。分类管理便于用户快速查询、统计、管理和报表生成。例如，根据资产类型、使用部门、存放地点等进行分类管理💻
					</p>
					<p>
						@if (roles == "Admin")
						{
							<a class="btn btn-lg btn-primary" href="/Asset/AssetAdmin">Start management</a>
						}
						else
						{
							<a class="btn btn-lg btn-primary" href="/Query/QueryAsset">Start management</a>
						}
					</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img src="~/icon/pexels-photo-6585028.jpeg" class="d-block w-100" alt="...">
			<div class="container">
				<div class="carousel-caption">
					<h1>审核和审批</h1>
					<p>对新增登记的固定资产及其变更进行审核和审批🔦，以确保信息的正确性和完整性，并规范化公司的管理流程🕵️‍</p>
					<p>
						@if (roles == "Admin")
						{
							<a class="btn btn-lg btn-primary" href="/Employee/EmployeeAdmin">Browse Employee</a>
						}
						else
						{
							<a class="btn btn-lg btn-primary" href="/Query/QueryEmployee">Browse Employee</a>
						}
					</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img src="~/icon/leather-3080553_1280.jpg" class="d-block w-100" alt="...">
			<div class="container">
				<div class="carousel-caption text-end">
					<h1>查询与统计</h1>
					<p>能够对各个固定资产进行查询和统计🔎，以便更好地进行管理和决策。例如，按照资产名称、时间范围、资产类别、资产保管人、使用部门等条件进行查询和统计📊</p>
					<p>
						@if (roles == "Admin")
						{
							<a class="btn btn-lg btn-primary" href="/Department/DepartmentAdmin">Explore more</a>
						}
						else
						{
							<a class="btn btn-lg btn-primary" href="/Query/QueryDepartment">Explore more</a>
						}

					</p>
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>


<!--系统介绍-->
<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<!--员工介绍-->
	<div class="row">
		<div class="col-lg-4">
			<a href="https://gw.alipayobjects.com/zos/rmsportal/SlFgHDtOTLzccvFrQHLg.png" data-fancybox="gallery" data-caption="Admin">
				<img src="https://gw.alipayobjects.com/zos/rmsportal/SlFgHDtOTLzccvFrQHLg.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
			</a>
			<h2 class="fw-normal">系统管理员</h2>
			<p>能对公司的所有资产信息进行登记、修改、查询、删除。此外，还能查看并管理公司的资产类别、部门信息、员工信息！！</p>
			<p><a class="btn btn-outline-danger" href="#!">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<a href="https://cdnjson.com/images/2023/05/04/vue-color-avatar.png" data-fancybox="gallery" data-caption="Member">
				<img src="https://cdnjson.com/images/2023/05/04/vue-color-avatar.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
			</a>
			<h2 class="fw-normal">员工</h2>
			<p>
				能查看查询部分资产、资产类别、部门等的信息，能按下列条件查询资产，包含：A.按资产编号、B.按资产名称、C.按资产类别、D.按购入日期（年度）、E.按存放位置、F.资产保管人姓名、G.按部门名称。
			</p>
			<p><a class="btn btn-outline-success" href="#!">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<a href="https://cdnjson.com/images/2023/05/21/3gzp.gif" data-fancybox="gallery" data-caption="Tourist">
				<img src="https://cdnjson.com/images/2023/05/21/3gzp.gif" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
			</a>
			<h2 class="fw-normal">游客</h2>
			<p>只能看到登录页面，可以进行注册与登录，系统管理员可对其信息进行管理</p>
			<p><a class="btn btn-outline-primary" href="#!">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->


	<hr class="featurette-divider">

	<!--各个功能界面-->
	<div class="px-4 pt-5 my-5 text-center border-bottom">
		<h1 class="display-4 fw-bold">安全性 ，管理性 ，数据可视化</h1>
		<div class="col-lg-6 mx-auto">
			<p style="color:#3d72b4">全面细致地管理企业的固定资产</p>
			<p class="lead mb-4">采用全新的图形化界面设计，将资产相关的数据进行数字化处理和储存，使企业能够更方便地查询、分析这些数据，提升企业的管理资产能力。其次，它实现安全的数据存储和传输，保证资产信息的机密性和完整性，减少了信息泄露和遗失的风险。</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
				<button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">立即使用</button>
				<button type="button" class="btn btn-outline-secondary btn-lg px-4">探索更多</button>
			</div>
		</div>
		<div class="overflow-hidden" style="max-height: 30vh;">
			<div class="container px-5">
				<a href="~/icon/AssetAdmin.png" data-fancybox="gallery" data-caption="AssetAdmin.png">
					<img src="~/icon/AssetAdmin.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
				</a>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="container col-xxl-13 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<a href="/icon/undraw_co-working_re_w93t.svg" data-fancybox="gallery" data-caption="undraw_co-working_re_w93t.svg">
					<img src="/icon/undraw_co-working_re_w93t.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</a>
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">协作管理与资源共享</h1>
				<p class="lead">允许多个用户或部门在同一系统中进行协作管理，可以实现对资产购置、存放、使用等方面的共同管理，共享固定资产相关的信息和数据，节省了人力和时间成本，提高了管理效率和质量。</p>
				<p class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-primary btn-lg px-4 me-md-2" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Primary</button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Default</button>
				</p>
				<div class="collapse" id="collapseExample1">
					<div class="card card-body">
						Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
					</div>
				</div>
				<div class="collapse" id="collapseExample2">
					<div class="card card-body">
						Some
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="container px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<a href="/icon/About.png" data-fancybox="gallery" data-caption="About.png">
					<img src="/icon/About.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
				</a>
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">统计性, 信息交流</h1>
				<p style="color:#004e8f ">实时对系统信息的全面统计和分析</p>
				<p class="lead">使企业更好地了解资产的状况和变化趋势，为企业的发展和规划提供参考依据。</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
				</div>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="container px-4 py-5">
		<h1 class="display-4 fw-bold">系统功能</h1>

		<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
			<div class="d-flex flex-column align-items-start gap-2">
				<h3 class="fw-bold">Left-aligned title explaining these awesome features</h3>
				<p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
				<a href="#!" class="btn btn-primary btn-lg">Primary button</a>
			</div>
			<div class="row row-cols-1 row-cols-sm-2 g-4">
				<div class="d-flex flex-column gap-2">
					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
							<use xlink:href="#collection" />
						</svg>
					</div>
					<h4 class="fw-semibold mb-0">资产</h4>
					<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
				</div>

				<div class="d-flex flex-column gap-2">
					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
							<use xlink:href="#gear-fill" />
						</svg>
					</div>
					<h4 class="fw-semibold mb-0">资产类别</h4>
					<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
				</div>

				<div class="d-flex flex-column gap-2">
					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
							<use xlink:href="#speedometer" />
						</svg>
					</div>
					<h4 class="fw-semibold mb-0">部门</h4>
					<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
				</div>

				<div class="d-flex flex-column gap-2">
					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
							<use xlink:href="#table" />
						</svg>
					</div>
					<h4 class="fw-semibold mb-0">员工</h4>
					<p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
				</div>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">


	<div class="container px-4 py-5" id="custom-cards">
		<h1 class="display-4 fw-bold">固定资产类别</h1>

		<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
			<div class="col">
				<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/icon/unsplash-photo-1.jpg');">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Network category</h3>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img src="https://cdn3.iconfinder.com/data/icons/asset/512/intangible-assets-trademark-knowledge-64.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
								<small>Shenzhen</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
								<small>3d</small>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/icon/unsplash-photo-2.jpg');">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
						<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Art category</h3>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img src="https://cdn3.iconfinder.com/data/icons/asset/512/intangible-assets-trademark-knowledge-64.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
								<small>Zhaoqing</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
								<small>4d</small>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/icon/unsplash-photo-3.jpg');">
					<div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
						<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Production equipment category</h3>
						<ul class="d-flex list-unstyled mt-auto">
							<li class="me-auto">
								<img src="https://cdn3.iconfinder.com/data/icons/asset/512/intangible-assets-trademark-knowledge-64.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
							</li>
							<li class="d-flex align-items-center me-3">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
								<small>Guangzhou</small>
							</li>
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
								<small>5d</small>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->

</div><!-- /.container -->



<div class="container mt-3 mb-3">
	<div class="text-center">
		<h1 class="display-4 fw-bold">公司资产信息展示</h1>
		<hr />
		<!--遍历相片分类名，显示分类名称-->
		@foreach (var catName in ViewBag.catNames)
		{
			<a href="/Home/Index?cat=@catName" style="text-decoration: none; ">@catName</a>
			// 执行迭代操作
		}
		<a href="/Home/Index" style="text-decoration: none; ">最新</a>
		<hr />
	</div>
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-12 col-md-3 col-sm-6 mt-3">
				<div class="img-fluid img-thumbnail">
					<!--圆角边框-->
					<a href="~/images/@item.ImgName" data-fancybox="gallery" data-caption="@item.ImgName">
						<img src="~/images/@item.ImgName" style="width: 100%; " />
					</a><hr />
					<b>编号：@item.AssetId</b>
					<br /><b style="color:#0396ff">@item.AssetName</b> - @item.Category.CategoryName
					<br /><a style="color:slateblue">资产保管人：@item.CustodianId</a>
					<br /><span>价格：@item.Price</span>
					<br /><span>发布时间：@(((DateTime)item.PurchaseDate).ToString("yyyy-MM-dd"))</span>
					<br /><span>存放位置：@item.Location</span>
					<p class="text-center"><br /><a href="#!" class="btn btn-sm btn-outline-primary">了解更多</a></p>
				</div>
			</div>
		}
	</div>
	<br />
	<br />
</div>

<!-- About Section-->
<section class="bg-light py-5">
	<div class="container px-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-xxl-8">
				<div class="text-center my-5">
					<h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Us</span></h2>
					<p class="lead fw-light mb-4">My name is Lindap and Learning makes me grow.</p>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum itaque qui unde quisquam consequatur autem. Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?</p>
					<div class="d-flex justify-content-center fs-2 gap-4">
						<a class="text-gradient" href="mailto:assetpro@example.com" target="_blank"><i class="bi bi-envelope-at-fill"></i></i></a>
						<a class="text-gradient" href="#!" target="_blank"><i class="bi bi-wechat"></i></a>
						<a class="text-gradient" href="https://github.com/efdgdfgdf" target="_blank"><i class="bi bi-github"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script>
	//欢迎弹窗
	@*
		document.querySelector(".container").addEventListener('click', function () {
		Swal.fire("Our First Alert", "With some body text and success icon!", "success");
		});*@
		document.addEventListener('DOMContentLoaded', function () {
			// 获取当前用户的名称
			var username = '@User.Identity.Name';

			// 如果当前用户已经登录，则显示欢迎弹窗
			if (username) {
				var storageKey = 'isPopupWindow_' + username;

				if (sessionStorage.getItem(storageKey) != "1") {
					Swal.fire({
						title: '欢迎回来！',
						text: '您已成功登录。',
						icon: 'success',
						confirmButtonText: '进入网站'
					});
					sessionStorage.setItem(storageKey, "1");
				}
			} else {
				// 如果当前用户未登录，则弹出提醒提示框
				console.log("当前用户未登录！");
				Swal.fire({
					title: '欢迎👋',
					html: '您好鸭，首页主要介绍了此系统的大致功能<br/>' + '如您想了解更多请先<a href="/Home/Login">登录</a>哦！',
					icon: 'success',
					confirmButtonText: '<i class="fa fa-thumbs-up"></i> 进入网站',
					width: 600,
					padding: '3em',
					color: '#716add',
					background: '#fff url(/images/trees.png)',
					backdrop: `
						rgba(0,0,123,0.4)
						url("https://ik.imagekit.io/t4hv06axp/nyan-cat.gif?updatedAt=1685761136781")
						left top
						no-repeat
					  `
				});
			}
		});
</script>