@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AMS202024111207.Models.Employee
@using AMS202024111207.Models
@inject AmsDbContext _context

@{
	ViewData["Title"] = "用户详情";
	string avatar, Qqemail;
	if (@Model.Qqemail != null)
	{
		avatar = $"https://q1.qlogo.cn/g?b=qq&nk={@Model.Qqemail.Split('@')[0]}&s=100&t=1547904810"; //通过API取得QQ头像
		Qqemail = @Model.Qqemail;
	}
	else
	{
		avatar = "https://dn-qiniu-avatar.qbox.me/avatar/";
		Qqemail = "yourname@example.com";
	}

}

<div class="pt-4 mt-2 mb-5 container">
	<div class="justify-content-center row">
		<div class="col-xxl-7 col-lg-8 col-sm-12">
			<div class="d-flex flex-column flex-md-row mb-4">
				<a href=@avatar data-fancybox data-caption="avatar">
					<img src=@avatar width="160px" height="160px" class="rounded" alt="">
				</a>
				@*<a href="/Home/Users?id=@Model.EmployeeId">
				<img src=@avatar width="160px" height="160px" class="rounded" alt="">
				</a>*@
				<div class="ms-0 ms-md-4 mt-4 mt-md-0">
					<div class="d-flex align-items-center mb-2">
						<a class="link-dark h3 mb-0" href="/Home/Users?id=@Model.EmployeeId">@Model.UserName</a>
					</div>
					<div class="text-secondary mb-4">&#64;@Model.Name</div>
					<div class="d-flex flex-wrap mb-3">
						<div class="me-3">
							<strong class="fs-5">@_context.Assets.Where(a=>a.Custodian.UserName.Equals(User.Identity.Name)).Count()</strong>
							<span class="text-secondary"> 资产</span>
						</div>
						<div class="me-3">
							<strong class="fs-5">1</strong>
							<span class="text-secondary"> 个回答</span>
						</div>
						<div>
							<strong class="fs-5">2</strong>
							<span class="text-secondary"> 个问题</span>
						</div>
					</div>
					<div class="d-flex text-secondary">
						<div class="d-flex align-items-center me-3">
							<i class="br bi-telephone-fill me-2" title=""></i>
							<span>@Model.Phone</span>
						</div>
						<div class="d-flex align-items-center">
							<i class="br bi-envelope-at-fill me-2" title=""></i>
							<a class="link-secondary" href="mailto:@Qqemail">@Qqemail</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-start justify-content-md-end col-xxl-3 col-lg-4 col-sm-12">
			<div class="mb-3">
				<a role="button" tabindex="0" href="/Home/Settings?id=@Model.EmployeeId" class="btn btn btn-outline-secondary">编辑我的资料</a>
				<a role="button" tabindex="0" href="javascript:history.back(-1)" class="btn btn btn-outline-success">返回上一页</a>
			</div>
		</div>
	</div>
	<div class="justify-content-center row">
		<div class="col-xxl-10">
			<div class="pt-2 mb-4 flex-nowrap nav nav-pills" style="overflow: auto;">
				<a aria-current="page" class="nav-link active" href="#">概览</a>
				<a class="nav-link" href="#!">资产</a>
				<a class="nav-link" href="#!">反馈</a>
				<a class="nav-link" href="#!">收藏</a>
				<a class="nav-link" href="#!">评论</a>
			</div>
		</div>
		<div class="col-xxl-7 col-lg-8 col-sm-12">
			<div>
				<h5 class="mb-3">关于我</h5>
				<div class="mb-4 text-break fmt">
					<p>@Model.About</p>
				</div>
				<h5 class="mb-3">热门回答</h5>
				<ol class="mb-4 list-unstyled">
					<li class="mb-2">
						<a href="#!">模型的添加属性标注除了[Display(Name ="编号")]还有哪些？</a>
						<div class="d-inline-block text-secondary ms-3 fs-14">
							<i class="br bi-hand-thumbs-up-fill me-1" title=""></i>
							<span>0 个点赞</span>
						</div>
					</li>
				</ol>
				<h5 class="mb-3">热门问题</h5>
				<ol class="mb-4 list-unstyled">
					<li class="mb-2">
						<a href="#!">有哪些好看实用的Bootstrap5前端模板？</a>
						<div class="d-inline-block text-secondary ms-3 fs-14">
							<i class="br bi-hand-thumbs-up-fill me-1" title=""></i>
							<span>0 个点赞</span>
						</div>
						<div class="d-inline-block text-secondary ms-3 fs-14 text-success">
							<i class="br bi-check-circle-fill" title=""></i>
							<span> 1 个回答</span>
						</div>
					</li>
					<li class="mb-2">
						<a href="#!">模型的添加属性标注除了[Display(Name ="编号")]还有哪些？</a>
						<div class="d-inline-block text-secondary ms-3 fs-14">
							<i class="br bi-hand-thumbs-up-fill me-1" title=""></i>
							<span>0 个点赞</span>
						</div>
						<div class="d-inline-block text-secondary ms-3 fs-14 ">
							<i class="br bi-chat-square-text-fill" title=""></i>
							<span> 1 个回答</span>
						</div>
					</li>
				</ol>
			</div>
		</div>
		<div class="mt-5 mt-lg-0 col-xxl-3 col-lg-4 col-sm-12">
			<h5 class="mb-3">状态</h5>
			<div class="text-secondary">
				<time class="">加入于 @(((DateTime)Model.JoinDate).ToString("MM月dd日"))</time>
			</div>
			<div class="text-secondary">
				<strong>✅活跃中 - @Model.Role👨‍💻</strong>
				<p>部门：@Model.Department.DepartmentName<p>
			</div>
		</div>
	</div>
</div>